html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    text-align: center;
}

.background {
    height: 20rem;
    background-image: url(img/banner.jpg);
    background-size: cover;
    margin-top: 2rem;
}

.top-nav {
    height: 2rem;
    padding: 7px;
    position: absolute;
    top: 0px;
    left: 20%;
}

.top-nav__menu {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 50px;
    font-weight: 500;
    color: #000000;
}

h1 {
    color: #FFFFFF;
    position: relative;
    top: 5rem;
    padding-bottom: 15px;
    text-align: left;
    left: 12rem;
    border-bottom: 3px solid white;
    width: 12rem;
}

h1,
h2 {
    font-weight: 900;
}

h3 {
    font-weight: 500;
    margin-bottom: -1rem;
}

.heading__yellow {
    color: #FFE964;
}

.heading__red {
    color: #FF523D;
}

.heading__blue {
    color: #223C88;
}

.article {
    padding: 50px 200px;
}

p {
    line-height: 1.5rem;
}

#mission {
    background-color: #FFE964;
    height: 15rem;

}

#about-us {
    text-align: left;
    background-color: #FFFFFF;
}

#our-team h2 {
    text-align: left;
}

#our-team {
    background-color: #FF523D;
    color: #FFFFFF;
}

#contact {
    text-align: left;
    background-color: #223C88;
    color: #FFFFFF;
}

img {
    width: 150px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}